#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #27aedb;
    text-align: center;
    margin: 5px;
}

input {
    margin: 5px;
}

button {
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 5px;
}